@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
p {
    color: #777777;
}
body {
    background-color: pink ;
}
nav {
    float:right;
}
h2{
    color:#803945;	
}
h3{
    color:#7E8265;
}
#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #777777;
}
.active{
    border-bottom: 1px solid #777777;
}
#hero-image{
    height:500px;
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height:500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text h3 {
    color:#4974a5;
}

#cover-text {
    font-size: 160%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 250px;
    height: 270px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(195, 134, 196, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

.tour {
    border:solid 5px;
}
.column {
    float: left;
    width: 33%;
    padding: 5px;
  }
.row {
    margin : 5px;
}
 
footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

.quote {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #d2652d;
}


.quote figcaption {
  padding: 13% 10% 12%;
}

.quote figcaption:before {
    
    transform: translateX(-50%);
    background-color: #f7dff1;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #d2652d;
    content: "ÔÑç";
    font-family: 'FontAwesome';
    font-size: 32px;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -40px;
    width: 50px;
  }

.quote h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.quote h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
  color:#f500b8;
}

.quote blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}



@media screen and (max-width: 1396px){
    

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 943px){

    #menu{
        clear: left;
        float: left;
        margin-left: 10px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left:0px;
    }
    
}

@media screen and (max-width: 800px){
    
    #hero-image {
        height: 300px;
    }
    #hero-outer {
        height: 300px;
    }
}